<span style='color: #000'>251 frames</span>	<span style='color: #900'>27,648 KB</span>	<span style='color: #090'>329.71 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />